<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Query 쓰는 곳 -->
<mapper namespace="com.my.mapper">

  <!-- table의 컬럼명과 dto setter의 이름이 다를 경우 사용 -->
  <resultMap type="myBoardDto" id="myBoardMap">
  	<!-- property : Dto의 setter(field)를 의미 -->
  	<!-- column : sql문의 column을 의미 -->
	<result property="myno" column="MYNO" />
	<result property="myname" column="MYNAME" />
	<result property="mytitle" column="MYTITLE" />
	<result property="mycontent" column="MYCONTENT" />
	<result property="mydate" column="MYDATE" />
	
  </resultMap>

  <select id="selectList" resultMap="myBoardMap"> 
    SELECT MYNO, MYNAME, MYTITLE, MYCONTENT, MYDATE
    FROM MYBOARD
    ORDER BY MYNO DESC
  </select>
  
  <select id="selectOne" parameterType="int" resultType="myBoardDto">
  	SELECT MYNO, MYNAME, MYTITLE, MYCONTENT, MYDATE
    FROM MYBOARD
  	WHERE MYNO = #{myno}
  </select>
  
  <insert id="insert" parameterType="myBoardDto">
  	INSERT INTO MYBOARD
  	VALUES(MYBOARDSEQ.NEXTVAL, #{myname}, #{mytitle}, #{mycontent}, SYSDATE)
  </insert>
  
  <update id="update" parameterType="myBoardDto">
  	UPDATE MYBOARD
  	SET MYTITLE = #{mytitle}, MYCONTENT = #{mycontent}
  	WHERE MYNO = #{myno}
  </update>
  
  <delete id="delete" parameterType="int">
  	DELETE FROM MYBOARD
  	WHERE MYNO = #{myno}
  </delete>
  
</mapper>